body {
	background: blue;
}
.modals {
	padding: 0 16px;
	min-width: 343px;
	min-height: 713px;
	margin: 60px 16px 50px 16px;
	background: #ffffff;
	border: 1px solid #dfe1e6;
	box-sizing: border-box;
	border-radius: 16px;
}

.modal-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal-title h2 {
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: #172b4d;
}

.project-author {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0px;
	margin: 12px 0px;
}

.snapshoot {
	transition: transform 1s linear;
	width: 311px;
	height: 220px;
	border-radius: 8px;
	margin: 12px 0px;
}

.snapshoot:hover {
	transform: scale(1.03);
}

.project-author li {
	list-style-type: none;
	margin-right: 10px;
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	color: #7a869a;
}

.project-author li:first-child {
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	color: #344563;
}

.project-author li:not(:first-child)::before {
	content: url(./assets/images/Counter.png);
	padding-right: 10px;
}

.modal-description {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	margin: 12px 0px;
}

.modal-description p {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 24px;
	color: #344563;
}

.project-tools {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 16px;
	height: 24px;
	margin: 12px 0px;
}

.project-tools li {
	margin-top: 12px;
	list-style-type: none;
	border-radius: 8px;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;

	padding: 4px 12px;
	letter-spacing: 0.03em;
	color: var(--primary-color);

	background: #ebebff;
	color: #6070ff;

	margin: 0px 8px;
}

button {
	padding: 12px 14px;
	border: 1px solid #6070ff;
	border-radius: 8px;

	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	color: #6070ff;
	margin: 0px 10px;
}

.buttons {
	display: flex;
	align-items: center;
}

button:hover {
	background-color: var(--primary-color);
	color: var(--white);
	box-shadow: 0 8px 16px 0 var(--very-lighter-blue);
}
