:root {
  /* primary colors */
  --main-sky: #cbcdff;
  --white: #fff;
  --background-primary-color: #e5e5e5;
  --primary-color: #6070ff;
  --primary-color-light: #4b5dffde;
  --light-sky-blue: #7f8cff;

  /* secondary colors */
  --light-blue: #acb7c3;
  --lighter-navy-blue: #505f79;
  --very-light-blue: #dfe1e6;
  --lighter-sky-blue: #ebebff;
  --black: #000;
  --gray: #f7f7f9;
  --deep-blue: #2230d2;
  --light-pale-blue: #b3bac5;
  --very-lighter-blue: #4053fc3d;
  --blur-gray: #c1c7d0;
  --red: #fd0019;
  --green: #198754;

  /* typography colors */
  --navy-blue: #172b4d;
  --light-navy-blue: #344563;
  --gray-navy-blue: #7a869a;
  --blue: #396df2;
  --light-gray: #5e6c84;
  --deep-navy-blue: #253858;
}

/* global styling  */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-primary-color);
  overflow-x: hidden;
  position: relative;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  min-width: 100%;
  padding: 25px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: var(--white);
}

.header-active {
  background-color: var(--white);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.logo {
  font-weight: bold;
  display: block;
  font-size: 22px;
  line-height: 20px;
  color: var(--primary-color);
  text-decoration: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 812px;
  background: var(--primary-color-light);
  backdrop-filter: blur(7px);
  transition: all 1s ease;
  z-index: 2;
}

.active {
  width: 100%;
}

.active-link {
  border-bottom: 3px solid var(--deep-navy-blue);
  font-weight: 900;
}

.hamburger {
  display: flex;
  justify-content: flex-end;
}

.bars {
  color: var(--light-blue);
  font-size: 24px;
}

.times {
  color: var(--white);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 28px;
  margin-top: 20px;
  font-size: 24px;
}

.nav-list {
  margin-top: 90px;
  margin-left: 28px;
}

.nav-list li {
  margin-bottom: 30px;
}

.nav-list li a {
  font-weight: 600;
  font-size: 32px;
  color: var(--white);
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 20px;
  background: url('../assets/images/header-shapes-mobile.png') 0 50px no-repeat;
  background-size: 100% auto;
  background-color: var(--white);
  border-bottom-left-radius: 150px;
  min-height: 718px;
  margin-bottom: 50px;
}

.intro h1 {
  font-size: 40px;
  line-height: 52px;
  color: var(--navy-blue);
  margin: 12px 0;
}

.modal-tools span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5px;
  margin-top: 30px;
  border-bottom: 1px solid #ebecf0;
}

.intro h1 span {
  display: block;
}

.intro p {
  line-height: 24px;
  color: var(--light-navy-blue);
  margin: 12px 0;
}

.intro .connect {
  color: #7f8cff;
  font-weight: 500;
  line-height: 25px;
  margin: 0;
}

.socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 170.17px;
  height: 20px;
  margin: 12px 0;
}

.socials li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 10px;
}

/* works section styling starts here */

.portfolio-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  gap: 10px;
}

.portfolio-title h2 {
  font-size: 2rem;
  color: var(--navy-blue);
}

.portfolio-title img {
  mix-blend-mode: darken;
  width: 30px;
}

.works {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
}

.project {
  background: var(--white);
  border: 1px solid var(--very-light-blue);
  border-radius: 16px;
  margin: 50px auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* max-width: 650px; */
}

.project-title {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: var(--navy-blue);
  margin: 12px 0;
}

.project-img img {
  height: 250px;
}

.project-author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 16px;
  padding: 0;
  margin: 12px 0;
}

.snapshoot {
  transition: transform 1s linear;
  margin: 12px 0;
}

.snapshoot:hover {
  transform: scale(1.03);
}

.soft-skill-list li {
  padding: 20px 10px;
}

.project-author li {
  list-style-type: none;
  margin-right: 5px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: var(--gray-navy-blue);
}

.project-tools li {
  margin-top: 12px;
  list-style-type: none;
  margin-right: 8px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background-color: var(--lighter-sky-blue);
  padding: 4px 12px;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.skill-list ul li {
  background: var(--gray);
  list-style-type: none;
  border-radius: 8px;
  margin: 12px 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: var(--deep-navy-blue);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.project-author li:not(:first-child)::before {
  content: url(../assets/images/Counter.png);
  padding-right: 10px;
}

form ul li:not(:last-child) {
  margin-bottom: 20px;
}

.project-author li:first-child {
  color: var(--light-navy-blue);
}

.project-text {
  font-size: 15px;
  line-height: 24px;
  color: var(--light-navy-blue);
  margin: 12px 0;
}

.project-tools {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 16px;
  margin: 12px 0;
}

button,
.modal-button {
  padding: 12px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--blue);
  margin: 12px 0;
  background-color: var(--white);
}

button:hover,
.modal-button:hover {
  background-color: var(--primary-color);
  color: var(--white);
  box-shadow: 0 8px 16px 0 var(--very-lighter-blue);
}

button:active,
.modal-button:active {
  background-color: var(--deep-blue);
  color: var(--white);
}

button:disabled {
  background-color: var(--white);
  color: var(--light-gray);
}

/* about section styling starts here */
.about {
  background-color: var(--white);
  border-top-right-radius: 150px;
  background-size: cover;

  /* min-height: 1063px; */
  padding: 114px 24px 24px 24px;
  margin-top: 50px;
}

.about-container {
  display: flex;
  flex-direction: column;
}

.about h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: var(--navy-blue);
  margin: 12px 0;
}

.about p {
  line-height: 24px;
  color: var(--light-navy-blue);
  margin: 12px 0;
}

.about .connect {
  color: var(--light-sky-blue);
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}

.about .socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 170.17px;
  height: 20px;
  margin: 16px 0;
}

.frameworks,
.skills,
.languages {
  border-bottom: 1px solid var(--light-pale-blue);
  padding-bottom: 5px;
}

/* .skill-list ul{
  display: block;
} */
.skill-list-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rotate-angle-icon {
  transform: rotate(-90deg);
  transition: all 1s ease-out;
}

.languages p {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.frameworks p {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.skills p {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.skill-list {
  padding-top: 50px;
}

.skill-list p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--black);
}

.language-list li:nth-child(1)::before {
  padding: 5px 10px;
  content: url(../assets/images/ruby.png);
}

.language-list li:nth-child(2)::before {
  padding: 5px 10px;
  content: url(../assets/images/sql.png);
}

.language-list li:nth-child(3)::before {
  padding: 5px 10px;
  content: url(../assets/images/postgres.png);
}

.language-list li:nth-child(4)::before {
  padding: 5px 10px;
  content: url(../assets/images/Typescript.jpg);
}
.language-list li:nth-child(5)::before {
  padding: 5px 10px;
  content: url(../assets/images/javascript.png);
}

.language-list li:nth-child(6)::before {
  content: url(../assets/images/css3.png);
  padding: 5px 10px;
}

.language-list li:nth-child(7)::before {
  content: url(../assets/images/html5.png);
  padding: 5px 10px;
}

.framework-list li:nth-child(1)::before {
  padding: 5px 10px;
  content: url(../assets/images/bootstrap.png);
}

.framework-list li:nth-child(2)::before {
  padding: 5px 10px;
  content: url(../assets/images/reactjs.png);
}

/* contact section styling starts here */
.contact {
  background-color: var(--white);
  padding-top: 80px;
}

.contact-container {
  background: url(../assets/images/contact-form-shapes-mobile.png) 100% 21px no-repeat;
  background-color: var(--primary-color);
  border-top-left-radius: 150px;
  background-size: auto 725px;
  object-fit: cover;
  min-height: 779px;
  z-index: 2;
}

.contact h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: var(--white);
  padding-top: 103px;
  text-align: center;
}

.contact p {
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: var(--lighter-sky-blue);
  padding: 20px;
  transition: transform 3s;
}

.contact p:hover {
  transform: translateX(10px);
}

form {
  padding: 30px 24px 0 24px;
}

form ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form ul li input {
  width: 100%;
  border: 1px solid var(--pale-blue);
  border-radius: 8px;
  background: var(--white);
  font-size: 15px;
  line-height: 20px;
  color: var(--navy-blue);
  padding: 15px 16px;
  outline: none;
}

form ul li input:focus {
  border: 2px solid var(--blue);
}

form ul li textarea {
  background: white;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 16px;
  outline: none;
  width: 100%;
  height: 170px;
  color: var(--navy-blue);
  font-size: 15px;
}

form ul li textarea:focus {
  border: 2px solid var(--blue);
}

#submit-btn {
  padding: 12px 16px;
  background: var(--white);
  border-radius: 8px;
  margin-top: 12px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

#submit-btn:hover {
  background-color: var(--primary-color);
  color: var(--white);
  border: 1px solid var(--white);
}

/* modals styling starts here */

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  backdrop-filter: blur(5px);
  background: #7f8cff6d;
  z-index: 5;
  animation: modalopen 1s ease-out;
  display: none;
}

.top {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.top a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  gap: 5px;
  align-items: center;
}

.top a i {
  font-size: 1.5rem;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-container {
  margin: 30px 16px;
  border: 1px solid #dfe1e6;
  background: var(--white);
  border-radius: 16px;
  min-height: 713px;
  padding: 18px 16px;
}

.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title i {
  font-size: 20px;
  color: var(--light-gray);
}

.modal-description {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 12px 0;
}

.modal-img {
  width: 15px;
  height: 15px;
}

.modal-button:hover .modal-img {
  background-color: white;
}

.socials li a i {
  color: var(--lighter-navy-blue);
  font-size: 20px;
}

.buttons {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.validate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

small {
  color: var(--black);
  display: block;
  width: 55%;
  z-index: 2;
  font-weight: 500;
}

/* input error */
input.error {
  border: 1px solid var(--red);
}

/* input success */
input.success {
  border: 1px solid var(--green);
}

/* Desktop site media querry starts here */
@media only screen and (min-width: 992px) {
  header {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-left: 44px;
    padding-right: 44px;
  }

  .logo {
    font-size: 18px;
    line-height: 20px;
    color: var(--primary-color);
    padding: 10px 12px;
    justify-content: center;
  }

  .nav-list {
    margin-top: 10px;
    margin-left: initial;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-list li {
    margin: 0 8px;
  }

  .nav-list li a {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: var(--light-navy-blue);
  }

  .mobile-menu {
    position: initial;
    min-width: initial;
    height: initial;
    background: initial;
    backdrop-filter: initial;
    mix-blend-mode: initial;
    transition: initial;
  }

  .bars {
    display: none;
  }

  .times {
    display: none;
  }

  .active {
    display: block;
    transform: initial;
  }

  /* intro section styling starts here */
  .intro {
    min-height: 921.46px;
    min-width: 375px;
    background: url('../assets/images/header-bg.png') 0 70px no-repeat;
    background-size: 100% 691.46px;
    background-color: var(--white);
    max-width: initial;
    margin-bottom: initial;
  }

  .intro h1 span {
    display: inline;
  }

  .intro-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    margin: auto;
    margin-top: 80px;
  }

  .intro h1 {
    font-size: 48px;
    line-height: 60px;
    color: var(--navy-blue);
    letter-spacing: 0.37px;
    margin: 10px 0;
  }

  .intro p {
    line-height: 28px;
    color: var(--light-navy-blue);
    font-size: 20px;
    margin: 10px 0;
  }

  /* intro section styling ends here */

  /* works section styling starts here */
  .works {
    width: 80%;
  }

  .project {
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    max-width: initial;
  }

  .project-description {
    flex: 1;
  }

  .project-title {
    font-size: 40px;
    line-height: 52px;
  }

  .project-text {
    font-size: 16px;
    margin: 24px 0;
  }

  .project-img {
    flex: 1;
  }

  .project-img img {
    height: initial;
  }

  .order .project-img {
    order: 1;
  }

  .project-author li {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: var(--gray-navy-blue);
  }

  .project-tools {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 16px;
    margin: 15px 0;
  }

  .project-tools li {
    margin-top: 24px;
  }

  button {
    margin: 36px 0;
  }

  /* works section styling ends here */

  /* about section styling starts here */

  .about-container {
    flex-direction: row;
    width: 80%;
    margin: auto;
    gap: 50px;
  }

  .about-description {
    flex: 1;
  }

  .skill-list {
    flex: 1;
  }

  .skill-list ul li {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 10px;
  }

  .skill-list ul li:nth-child(2)::before {
    width: 100%;
    display: block;
    padding: 0;
  }

  .skill-list ul li:nth-child(3)::before {
    display: block;
    padding: 0;
    width: 100%;
  }

  .skill-list ul li:nth-child(1)::before {
    display: block;
    padding: 0;
    width: 100%;
  }

  /* about section styling ends here */

  /* contact section styling starts here */

  .contact-container {
    background: url(../assets/images/contact-form-background-shapes.png) 0 79px no-repeat;
    background-color: var(--primary-color);
    border-top-left-radius: 150px;
    background-size: 100% 632.79px;
    min-height: 718.7px;
    min-width: 375px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .contact p {
    width: 569px;
  }

  .validate {
    display: flex;
    justify-content: center;
  }

  form {
    padding: 30px 24px 0 24px;
  }

  form ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  form ul li input {
    width: 447px;
    border-radius: 2px;
  }

  form ul li input:focus {
    border: 2px solid var(--blue);
  }

  form ul li textarea {
    border-radius: 2px;
  }

  form ul li textarea:focus {
    border: 2px solid var(--blue);
  }

  #submit-btn {
    display: block;
    margin-top: 27px;
    transform: translateX(100px);
    margin-bottom: 127px;
  }

  .skill-list ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  .lists {
    display: flex;
  }

  .project-author li:first-child {
    color: var(--light-navy-blue);
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  /* contact section styling starts here */
  .modal-description {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: row;
    padding: 0;
    margin: 12px 0;
    gap: 100px;
  }

  .modal-tools {
    flex: 40%;
  }

  .buttons {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    justify-content: left;
  }

  .nav-list li a:hover {
    border-bottom: 3px solid var(--deep-navy-blue);
    font-weight: 900;
  }
}
